[push]
	autoSetupRemote = true
[alias]
	co = checkout
	st = status
[user]
	email = 2470703+MarcinWronecki@users.noreply.github.com
	name = Marcin Wronecki
[core]
	pager = delta
[init]
	defaultBranch = master
[help]
	autoCorrect = immediate
[delta]
	# https://dandavison.github.io/delta/configuration.html
	hyperlinks = true
	line-numbers = true
	navigate = true
	syntax-theme = Coldark-Dark
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
	singleKey = true
[merge]
	conflictStyle = zdiff3
	autoStash = true
[branch]
	sort = -committerdate
[fetch]
	prune = true
[advice]
	statusHints = false
[stash]
	showPatch = true
[rebase]
	autoStash = true
	abbreviateCommands = true
	autoSquash = true
[pull]
	rebase = true
[rerere]
	enabled = true
